// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#review-module {
    border-bottom: 1px solid #dbdbdb;
    margin: 20px;
    padding-bottom: 20px;
  }
  
  
  #review-stats h2 {
    color: #6d6d6d;
    font-weight: 600;
  }
  
  #subheader {
    display: flex;
  }
  
  #rating {
    width: 100px;
    margin-right: 10px;
  }
  
  #actdate {
    color: #929292;
    font-size: 14px;
    padding-top: 2px;
  }
  
  #body {
    color: #6d6d6d;
    margin-top: 10px;
    margin-bottom: 10px;;
  }
  
  #mod-delete {
    display: flex;
  }
  
  #mod-delete button {
    color: white;
    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 50px;
    border: 0px solid white;
  }
  
  #dlt-btn {
    background-color: #6b8e23;
    color: white;
    font-size: 10px;
    font-weight: 600;
  }
  
  #edit-btn {
    background-color: #6b8e23;
  }


  #reviews {
    position: relative;
  }
  
  #rev-button {
    position: relative;
    left: 200%;
    top: 30px;
    background-color: #55882C;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    width: 150px;
    border: 0px solid white;
    display: flex;
    justify-content: center;
  }
  // #rev-button {
  //   position: relative;
  //   left: 300px;
  //   top: 25px;
  //   background-color: #55882C;
  //   color: white;
  //   font-size: 12px;
  //   font-weight: 600;
  //   border-radius: 5px;
  //   padding: 10px;
  //   margin-right: 10px;
  //   width: 150px;
  //   border: 0px solid white;
  //   display: flex;
  //   justify-content: center;
  // }

  #parent {
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid #dbdbdb;
  }
  

  #rev-link {
    text-decoration: none;
  }
  
  #avg-rating {
    color: #464646;
    margin: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
  }



  #no-reviews {
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  
  #avg-rating p {
    font-size: 45px;
  }
  
  #avg-rating h2 {
    font-size: 18px;
    margin-right: 20px;
  }
  
  
