#trail-bg {
    background-color: #F2F2F2;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }
  
  #trail-page-container {
    width: 70%;
    margin: 0 auto;
    display: block;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, .2);
    overflow: hidden;

  }
  
  
  #image-cntr {
    width: 1100px;
    height:200px;
    overflow: hidden;
  }
  
  #image-cntr img {
    width: 1100px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    transform: translateY(-30%);
    position: relative;
  }
  
  
  #trail-page-container header {
    height: 200px;
    background-color: #233812;
    color: white;
  }
  
  #gradient {
    position: relative;
    transform: translateY(-100%);
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    height: 200px;
  }
  
  #top-info {
    transform: translateY(80%);
    padding: 20px;
    position: relative;
  }

  
  #top-info h1 {
    font-weight: 600;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: sans-serif;
    padding-bottom: 5px;
  }
  
  #top-info h2 {
    margin-top: 5px;
    font-size: 12px;
  }
  
  #top-info a {
    color: white;
  }
  
  #divider {
    height: 40px;
    background-color: #55882C;
  }
  
  #page-split {
    display: flex;
  }
  
  #left-page {
    flex: 2.5;
    border-right: 1px solid #e7e7e7;
  }
  
  
  #right-page {
    margin-top: 20px;
    flex: 1;
  }
  
  #text-block {
    margin: 20px;
    font-size: 14px;
    color: #767676;
    line-height: 1.4;
  }
  
  #trail-overview #text-block {
    border-bottom: 1px solid #e7e7e7;
    border-spacing: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
  }
  

  
  #trail-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 70%;
    padding-left: 20px;
  }
  
  #trail-info div {
    font-size: 10px;
    color: #767676
  }
  
  #trail-info p {
    font-size: 14px;
    font-weight: 600;
    color: black;
  }
  
  // #description {
  // }
  
  #description #divider {
    margin-top: 20px;
    background-color: #F2F2F2;
  }
  
 
  #divider p {
    color: #55882C;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #55882C;
  }
  

  
  #desc-header {
    width: 72px;
  }
  
  #bottom {
    height: 100px;
  }
  
  #reviews-header {
    width: 55px;
  }
  
  // #reviews {
  //   width: 300px;
  // }
  
  #map{
    margin-bottom: 20px;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    margin-left: 15px;
  }

  #map {
    position: relative;
    overflow: visible;
  }

  .nearby-trail {
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 10px;
    text-align:center;
    padding-bottom: 10px;
    border-top: 1px solid #e7e7e7;
    border-spacing: 20px;
  }

  #nearby {
   padding-left: 10px;
  }