

.background-image {
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-size: contain;
    background-position: center;
    max-height: 540px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.search-section {
    width: 100%;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.head-title {
    font-size: 50px;
    color: #fff;
    margin-bottom: 24px;
    font-weight: 700;
    margin-top: 2px;
    font-family: sans-serif;
}

.search-container {
    position: relative;
    z-index: 2;
}

.splash-search {
    display: flex;
    border-radius: 40px;
    padding: 0px 16px;
    align-items: center;
    height: 72px;
    width: 644px;
    background-color: #fff;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.3);
}

.search-bar {
    color: #414141;
    margin: 0px 16px;
    padding: 14px 0px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: 300;
    width: 92%;
    outline: none;
}


.splash-trails {
    width: 100%;
    background-color: #F2F2F2;
    padding: 48px 0px;
    padding-left: 100px;
}

// .tiles-outer-container {
//    padding-left: 100px;
// }

.splash-favorites{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: #414141;
    margin: 0 auto;
    max-width: 1240px;
    margin-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        text-decoration: underline;
        font-weight: bold;
        // margin-left: 320px;
    }
}

.tiles-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px auto;
    max-width: 1312px;
    position: relative;
    overflow-x: hidden;

}

.arrow {
    border-radius: 50%;
}

.arrow-button-right {
    border: none;
    border-radius: 50%;
    z-index: 2;
    height: 34px;
    background-color: #fff;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.arrow-button-right:hover{
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
}



